
        body {
            background-color: #ece9d6;
        }
        .diagram-wrapper {
            background-color: white;
            padding:40px;
            margin: 20px;
            max-width: 800px;
            overflow: hidden;
        }
        .diagram {
            border-left: 2px solid #474747;
            border-bottom: 2px solid #474747;
            height: 410px;
            position: relative;
            margin-bottom: 20px;
        }
        .bar {
            background-color: #c55d5d;
            height: 20px;
            width: 250px;
            border: 2px solid #a33c3c;
            border-left: 0px !important;
            margin-bottom: 10px;
            padding: 5px;
            font-family: sans-serif;
            color: black;
            text-shadow: 1px 1px 3px white;
            position: absolute;
            transition: 1.0s all;
        }
        .bar:before {
            content: attr(data-label);
        }
        .bar:after {
            content: attr(data-value);
            position: absolute;
            right: -30px;
            top: 7px;
            background-color: white;
        }
        .bar.bar1 {
            background-color: rgb(74, 74, 212);
            border: 2px solid rgb(53, 53, 179);
        }
        .bar.bar2 {
            background-color: rgb(74, 129, 212);
            border: 2px solid rgb(53, 108, 179);
        }
        .bar.bar3 {
            background-color: rgb(74, 184, 212);
            border: 2px solid rgb(53, 143, 179);
        }
        .bar.bar4 {
            background-color: rgb(74, 212, 200);
            border: 2px solid rgb(53, 179, 162);
        }
        .bar.bar5 {
            background-color: rgb(74, 212, 148);
            border: 2px solid rgb(53, 179, 120);
        }
        .bar.bar6 {
            background-color: rgb(74, 212, 81);
            border: 2px solid rgb(53, 179, 63);
        }
        .bar.bar7 {
            background-color: rgb(129, 212, 74);
            border: 2px solid rgb(103, 179, 53);
        }
        .bar.bar8 {
            background-color: rgb(187, 212, 74);
            border: 2px solid rgb(145, 179, 53);
        }
        .bar.bar9 {
            background-color: rgb(212, 191, 74);
            border: 2px solid rgb(179, 166, 53);
        }
        .bar.bar10 {
            background-color: rgb(212, 136, 74);
            border: 2px solid rgb(179, 120, 53);
        }
        [data-pos="1"] { top: 10px; }
        [data-pos="2"] { top: 50px; }
        [data-pos="3"] { top: 90px;}
        [data-pos="4"] { top: 130px; }
        [data-pos="5"] { top: 170px; }
        [data-pos="6"] { top: 210px; }
        [data-pos="7"] { top: 250px; }
        [data-pos="8"] { top: 290px; }
        [data-pos="9"] { top: 330px; }
        [data-pos="10"] { top: 370px; }
        [data-pos="out"] { top: 450px; opacity: 0; }